asgiref==3.8.1
black==24.10.0
click==8.1.7
dj-database-url==2.3.0
dj-email-url==1.0.6
Django==5.1.4
django-cache-url==3.4.5
environs==9.5.0
gunicorn==20.1.0
marshmallow==3.23.2
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
psycopg==3.2.3
psycopg-binary==3.2.3
python-dotenv==1.0.1
setuptools==75.6.0
sqlparse==0.5.3
typing_extensions==4.12.2
whitenoise==6.4.0
